BasedOnStyle: Google
AlignConsecutiveAssignments: true
AllowShortLoopsOnASingleLine: false
AccessModifierOffset: -4
BreakBeforeBraces: Mozilla
BreakConstructorInitializersBeforeComma: true
ColumnLimit: 100
IndentWidth: 4
PointerAlignment: Left
TabWidth: 4
