[submodule "third-party/htslib"]
	path = third-party/htslib
	url = ssh://git@bitbucket.nanofluidics.com:7999/sat/htslib.git
    branch = master
[submodule "third-party/pbbam"]
    path = third-party/pbbam
    url = ssh://git@bitbucket.nanofluidics.com:7999/sat/pbbam.git
    branch = master
[submodule "third-party/seqan"]
    path = third-party/seqan
    url = ssh://git@bitbucket.nanofluidics.com:7999/sat/seqan.git
    branch = master
[submodule "third-party/pbcopper"]
    path = third-party/pbcopper
    url = ssh://git@bitbucket.nanofluidics.com:7999/sat/pbcopper.git
    branch = master
