[submodule "third-party/pbbam"]
    path = third-party/pbbam
    url = ../pbbam.git
    branch = master
[submodule "third-party/seqan"]
    path = third-party/seqan
    url = ../seqan.git
    branch = master
[submodule "third-party/pbcopper"]
    path = third-party/pbcopper
    url = ../pbcopper.git
    branch = master
